body {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 100vh;
    background-image: url("http://lawebhouse.com/wp-content/uploads/2017/02/Agile-1.jpg");
    background-size: cover no-repeat;
    background-position: 50% 50%;
    position: relative;
}

nav {
    border: 0px solid #fff !important;
}

.navbar {
    background-color: rgba(255,255,255,1);
    padding: 1em 0;
}

.navbar a {
    color: #000 !important;
    font-size: 16px;
    letter-spacing: 2;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.no-padding {
    padding: 0px;
}

.about {
    height: 100vh;
    background-color: #1c1b20;
}

.about h1 {
    color: #fff;
}

.about h1, .work h1, .contact h1 {
    font-weight: 900;
    font-size: 80px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 20px;
}

.about p {
    font-size: 1.5em;
    color: rgba(255,255,255,.45);
    font-weight: 300;
    padding-left: 20px;
}

.libre {
    font-family: 'Libre Baskerville', serif;
    font-style:italic;
    color: #fff;
}

#work {
    background-color: #E54E4B;
    color: #fff;
}

#contact {
    background-color: #f8f8f8;
    height: 100vh;
}

.portfolio {
    padding: 5em;
}

.btn-social-icon {
    font-size: 2em;
}

footer {
    background-color: #000;
    color: #fff;
}

footer p {
    padding: 3em 0;
}

.btn-social-icon {
    color: rgba(0,0,0,0.6);
    font-size: 2.5em;
}

.btn-social-icon:hover {
    color: #000;
}

.headline {
    position: absolute;
    top: 40%
}
.headline h1 {
    color: #fff;
    font-size: 3em;
    letter-spacing: .1em;
    padding-bottom: .2em;
}
